* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6e9;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    position: relative;
    overflow: hidden;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    gap: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    display: flex;
    padding: 11px;
    margin-left: 2px;
}

.logo-name {
    margin-right: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #7640eb, #365beb);
    height: 40px;
    width: 40px;
    border-radius: 30%;
    color: #fff;
    font-weight: 900;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    gap: 30px;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #434c5b;
    font-weight: 600;
}

.nav-bar ul li a:hover {
    color: #2563eb;
}

.nav-bar.active {
    color: #2563eb;
    text-decoration: underline;
}

.big-container {}

.round1 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #d6b7f8;
    position: absolute;
    top: -180%;
    right: -14%;
    z-index: -1;
    filter: blur(24px);
}

.round2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #89c4e0;
    position: absolute;
    top: 500%;
    left: -16%;
    z-index: -1;
    filter: blur(24px);
}

.available-cls {
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    gap: 50px;
}

.left-container {}

.footer {
    height: 100%;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to right, #6e2cbb, #1e4fbc, #0a6e96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 0px;
}