* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #f3f6ff;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    /* position: relative; */
}
body p{
        color: #555a63;
}
.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    gap: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    display: flex;
    padding: 11px;
    margin-left: 2px;
}

.logo-name {
    margin-right: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #7640eb, #365beb);
    height: 40px;
    width: 40px;
    border-radius: 30%;
    color: #fff;
    font-weight: 900;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    gap: 30px;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #434c5b;
    font-weight: 600;
}

.nav-bar ul li a:hover {
    color: #2563eb;
}

.nav-bar.active {
    color: #2563eb;
    text-decoration: underline;
}

.round1 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #d6b7f8;
    position: absolute;
    top: -180%;
    right: -14%;
    z-index: -1;
    filter: blur(24px);
}

.round2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #89c4e0;
    position: absolute;
    top: 500%;
    left: -16%;
    z-index: -1;
    filter: blur(24px);
}

.available-cls {
    display: flex;
    align-items: center;
}

.big-box {
    display: flex;
    justify-content: center;
    padding:8% 15%;
    max-width: 70%;
}
.left-box{
   display: flex;
   flex-direction: column ;
   gap: 15px;
}
.right-box{
  
}
.row1{
 position: relative;
}
.row1 img{
    position: absolute;
    top:25%;
    left:2%;
}
.online-status {
    padding: 8px 20px 8px 40px;
    margin: 5px;
    border-radius: 50px;
    background: linear-gradient(to right, #d4f7dc, #d6eaff);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #166534;
    font-weight: 600;
    width: fit-content;
}   
.online-status p{
    background-image: linear-gradient(to right,#dbf3f3,#dbf3f3,#dbf3f3);
    font-weight: 600;
}
.title-color{
    background: linear-gradient(to right, #8e35ea, #5e4aea,#2d5feb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.title-child{
    line-height: 1.10;
}
.title h1{
    font-size: 75px;
    font-weight: 900;
    padding: 3% 0 0 0;
}
.content-1{
    padding: 3px 0 0 0;
    margin-left: 10px;
    font-size: 1.4rem;
}
.content-2{
    padding: 10px 0 0 0;
    line-height: 1.5;
    font-size: 1.4rem;
}

/* home button style */
.btns{
    display: flex;
    gap: 15px;
    padding-top:2%;
}
.gradient-button{
    display: inline-flex;
    align-items: center;
    padding: 14px 30px;
    gap: 20px;
    color: #ffffff;
    background-image: linear-gradient(to right,#8738ea,#5e4aea,#2c60eb);
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.3s;
}
.gradient-button:hover{
     background-image: linear-gradient(to right,#7625ce,#4d38d3,#2849d7);
     transform: scale(1.1);
}
.connect-button{
    display: inline-flex;
    align-items: center;
    padding: 12px 30px;
    border-radius: 6px;
    gap: 20px; 
    outline: none;
    border: 2px solid #9333ea;
    background-color: #ffffff;
    color: #b778f1;
    font-weight:700;
    transition: all 0.3s;
}
.connect-button:hover{
    background-color: #9333ea;
    color: white;
}
.social-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px 0px 0px 0px;
}
.social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}

.social-icons a:hover{
    color:#9333ea ;
    transform: scale(1.1);
}



.footer {
    height: 100%;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to right, #6e2cbb, #1e4fbc, #0a6e96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 0px;
    gap: 25px;
}
.footer-heading{
    font-size:larger;
}
.para{
   font-weight: 600;
   color: #dbeaf8;
}